.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    border: 1px solid white;
    width: 1200px;
    left: 5.5%;
    gap: 30px
}

.portfolio-container div {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    text-align: center;
    color: green;
    text-align: center;

    h2 {
        
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.crazy-cat-logo {
    height: 150px;
    width: 175px;
    margin-top: 3px
}

.tic-tac-toe-logo{
    height: 150px;
    width: 175px;
    margin-top: 3px
}

.tesla-logo {
    height: 150px;
    width: 175px;
    margin-top: 3px
}

.monster-logo{ 
    height: 150px;
    width: 175px;
    margin-top: 3px
}



