.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 900px;
  margin-left: 100px;
  margin-top: 100px;
}

.portfolio-container div {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  text-align: center;
  color: green;

  h2 {
    position: relative;
    bottom: 250px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crazy-cat-logo {
  height: 150px;
  width: 175px;
  margin-top: 3px;
  position: relative;
  bottom: 250px;
  z-index: -1;
}

.tic-tac-toe-logo {
  height: 150px;
  width: 175px;
  margin-top: 3px;
  position: relative;
  bottom: 250px;
  left: 40px;
  z-index: -1;
  color: yellow;
}

.stoic-quote-logo {
  height: 150px;
  width: 175px;
  margin-top: 3px;
  position: relative;
  bottom: 250px;
  z-index: -1;
  color: yellow;
}

.monster-logo {
  height: 150px;
  width: 175px;
  margin-top: 3px;
  position: relative;
  bottom: 250px;

  z-index: -1;
}

.monsters-rolodex {
  a.fill-div {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}

.crazy-cat {
  a.fill-div {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}

.tic-tac-toe-ai {
  a.fill-div {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}

.stoic-quote-generator {
  a.fill-div {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
}
